<!DOCTYPE html>
<html lang="en">
<head>

    <style>
        .center {
            margin: auto;
            width: 60%;
            padding: 10px;
            text-align: center;

        }

        .happy {
            background: #73AD21;
        }

        .sad {
            background: #bc1c1c;
        }
    </style>
    <title>Do you?</title>
</head>
<body class="center ">
<h1 id="result">{{ result }}</h1>
</body>
<script>
    if (document.getElementById("result").innerHTML.startsWith('Sorry'))
        document.body.className += 'sad'
    else
        document.body.className += 'happy'
</script>
</html>

